body {

}

header{
    border-radius: 50px;
    box-sizing: 100px;
    background-color: aqua
}
aside{
    background-color: lawngreen;
    
}
main{
    background-color: deeppink;
}
Footer{
    background-color: orange;
}
body {
    font-family: arial
}
.Haupteil {
    display: flex;
    justify-content: content; 
}

.Haupteil{
    justify-content: space-around;
}
    
   